html{
    text-align: center;
}
h1{
    text-align: center;
    color : white;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th{


  color: black;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


a{
    text-decoration: none;
    text-align: left;
    color: black;
    
}
a:visited {
    color: black;
    
  }

  .container{
    width: 50%;
    margin: auto;
  }
  .container p{
    color: black;
    text-align: left;
  }
  .containerBtn{
    display: grid;
    grid-template-columns: 45% 45%;
    text-align: center;
    gap: 10%;
    
  }
  .containerBtn a{

text-align: center;

  }
  .btnDelete{

    color: red !important;
  
    
  }
